# In order to use the following env vars you must copy this file to a file called .env or .env.local
# To set env vars on heroku, dokku, docker or kubernetes, please check out it's docs.

# If a social network url is not set, the social network icon won't be rendered
# example: VUE_APP_FACEBOOK_URL="https://facebook.com/"
# example: VUE_APP_EMAIL_URL="mailto:email@domain.com"
VUE_APP_FACEBOOK_URL=""
VUE_APP_INSTAGRAM_URL=""
VUE_APP_TWITTER_URL=""
VUE_APP_GITHUB_URL=""
VUE_APP_EMAIL_URL=""

# Set website fonts
VUE_APP_WEBSITE_TITLE_FONTFAMILY="Bungee, cursive"

# Set website logo
VUE_APP_WEBSITE_FAVICON_URL=""
VUE_APP_WEBSITE_LOGO_URL=""
VUE_APP_WEBSITE_TITLE="Sitio web en desarrollo"
VUE_APP_WEBSITE_DESCRIPTION="Estamos creando una experiencia personalizada para ti, mientras tanto puedes enterarte de este proyecto en las redes sociales a continuación."
VUE_APP_WEBSITE_VIDEO_URL=""

VUE_APP_WEBSITE_BACKGROUND_COLOR="#4d0059"
VUE_APP_WEBSITE_COLOR="white"

VUE_APP_HIDE_WEBSITE_FOOTER=False

VUE_APP_BACKGROUND_IMAGE_URL="url('https://www.transparenttextures.com/patterns/shattered.png')"
